.input{
    width: 278px;
    height: 30px;
    margin:  10px;
    text-align: center;
    border-radius: 8px;
    border: 1px rgb(188, 188, 188) solid;
    font-size: 20px;
    padding: 10px 15px;
}

.tittle{
    font-size: 25px;
    color: grey;
    font-weight: bold;
}