
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Oswald:wght@700&display=swap');


body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 360px;
}

h1{
    font-weight:700;
    color: rgb(0, 0, 79);
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Comfortaa', cursive; */
}